@model VicGenesis.Victoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Victoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Community_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Community_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Community_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Community_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DHS_Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DHS_Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Map_Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Map_Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area_km_sq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area_km_sq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Road_distance_to_GPO_km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Road_distance_to_GPO_km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local_Government_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local_Government_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Population_density)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Population_density)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primary_Care_Partnership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primary_Care_Partnership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_localities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_localities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABS_Remoteness_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABS_Remoteness_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Population_Difference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Population_Difference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funded_Activity_Types)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funded_Activity_Types)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funded_Services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funded_Services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HACC_Services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HACC_Services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Child_Protection_Services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Child_Protection_Services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Community_Health_Services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Community_Health_Services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Homelessness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Homelessness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disability_Services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disability_Services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mental_Health_Services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mental_Health_Services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Human_Health_Services_Sites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Human_Health_Services_Sites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Human_Health_Services_Types)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Human_Health_Services_Types)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dental_Sites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dental_Sites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.General_Practice_Sites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.General_Practice_Sites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pharmacy_Sites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pharmacy_Sites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allied_Health_Sites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allied_Health_Sites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complementary_Health_Sites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complementary_Health_Sites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Child_Care_Sites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Child_Care_Sites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residential_Aged_Care_Facilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residential_Aged_Care_Facilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licensed_Aged_Care_Places)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licensed_Aged_Care_Places)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primary_Schools)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primary_Schools)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secondary_School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secondary_School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P12_schools)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P12_schools)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other_Schools)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other_Schools)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nearest_Health_Service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nearest_Health_Service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance_to_Nearest_Health_Service)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance_to_Nearest_Health_Service)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residential)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residential)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Business)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Industrial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Industrial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rural)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rural)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_Of_Households)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_Of_Households)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persons_Per_Household)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persons_Per_Household)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Population_In_nonprivate_Dwellings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Population_In_nonprivate_Dwellings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Public_Rental_Dwellings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Public_Rental_Dwellings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aboriginal_Or_Torres_Strait_Islander)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aboriginal_Or_Torres_Strait_Islander)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Not_Completed_Year_12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Not_Completed_Year_12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unemployed_Persons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unemployed_Persons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household_Income_Less_Than_650)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household_Income_Less_Than_650)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Individual_Income_Less_Than_400)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Individual_Income_Less_Than_400)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household_Without_Motor_Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household_Without_Motor_Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household_With_Internet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household_With_Internet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.One_Parent_Headed_Families)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.One_Parent_Headed_Families)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persons_aged_75_Above_Living_Alone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persons_aged_75_Above_Living_Alone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Need_Assistance_With_Core_Activities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Need_Assistance_With_Core_Activities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Born_Overseas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Born_Overseas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Non_Engisdh_Speaker_At_Home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Non_Engisdh_Speaker_At_Home)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poor_English_Proficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poor_English_Proficiency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_Cultural_group_1_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_Cultural_group_1_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_cultural_group_1_Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_cultural_group_1_Percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_cultural_group_2_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_cultural_group_2_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_cultural_group_2_Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_cultural_group_2_Percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_cultural_group_3_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_cultural_group_3_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_cultural_group_3_Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_cultural_group_3_Percentage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COMM_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
