@model VicGenesis.Victoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>Here are the details of</h1>
    <h2>@Html.DisplayFor(model => model.Community_Name)</h2>
    <hr />
    <dl class="pre-scrollable  text-justify">

        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            Basic information
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <dt>
                            Community Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Community_Name)
                        </dd>

                        <dt>
                            Community Type
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Community_Type)
                        </dd>

                        <dt>
                            DHS Region
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DHS_Region)
                        </dd>

                        @*<dt>
                                @Html.DisplayNameFor(model => model.Map_Reference)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Map_Reference)
                            </dd>*@

                        <dt>
                            Area (km sq)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Area_km_sq)
                        </dd>

                        <dt>
                            Location
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Location)
                        </dd>

                        <dt>
                            Road distance to GPO (km)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Road_distance_to_GPO_km)
                        </dd>

                        <dt>
                            Local Government Area
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Local_Government_Area)
                        </dd>

                        <dt>
                            Population density
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Population_density)
                        </dd>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            Services Details
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <dt>
                            HACC Services
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HACC_Services)
                        </dd>

                        <dt>
                            Child Protection Services
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Child_Protection_Services)
                        </dd>

                        <dt>
                            Community Health Services
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Community_Health_Services)
                        </dd>



                        <dt>
                            Disability Services
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Disability_Services)
                        </dd>

                        <dt>
                            Mental Health Services
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Mental_Health_Services)
                        </dd>

                        <dt>
                            Dental_Sites
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Dental_Sites)
                        </dd>
                        <dt>
                            Residential Aged Care Facilities
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Residential_Aged_Care_Facilities)
                        </dd>
                        <dt>

                            Nearest Health Service
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nearest_Health_Service)
                        </dd>

                        <dt>
                            Distance to Nearest Health Service
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Distance_to_Nearest_Health_Service)
                        </dd>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree">
                        Land use
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <dt>
                            @Html.DisplayNameFor(model => model.Residential)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Residential)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Business)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Business)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Industrial)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Industrial)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Rural)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Rural)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Other)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Other)
                        </dd>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour">
                            Residents
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <dt>
                            Number Of Households
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Number_Of_Households)
                        </dd>

                        <dt>
                            Persons Per Household
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Persons_Per_Household)
                        </dd>

                        <dt>
                            Population In nonprivate Dwellings
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Population_In_nonprivate_Dwellings)
                        </dd>

                        <dt>
                            Public Rental Dwellings
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Public_Rental_Dwellings)
                        </dd>
                        <dt>
                            Unemployed Persons
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Unemployed_Persons)
                        </dd>
                        <dt>
                            Household Without Motor Vehicle
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Household_Without_Motor_Vehicle)
                        </dd>

                        <dt>
                            Household With Internet
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Household_With_Internet)
                        </dd>

                        <dt>
                            One Parent Headed Families
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.One_Parent_Headed_Families)
                        </dd>

                        <dt>
                            Persons aged 75 Above Living Alone
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Persons_aged_75_Above_Living_Alone)
                        </dd>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFive">
                            Cultures and society
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <dt>
                            Main Cultural group 1 With percentage
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Main_Cultural_group_1_Name)            &nbsp     &nbsp&nbsp           @Html.DisplayFor(model => model.Main_cultural_group_1_Percentage)

                        </dd>

                       

                        <dt>
                            Main Cultural group 2 With percentage
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Main_cultural_group_2_Name)  &nbsp &nbsp &nbsp              @Html.DisplayFor(model => model.Main_cultural_group_2_Percentage)

                        </dd>

                       

                        <dt>
                            Main Cultural group 3 With percentage
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Main_cultural_group_3_Name) &nbsp &nbsp &nbsp                             @Html.DisplayFor(model => model.Main_cultural_group_3_Percentage)

                        </dd>

                        
                    </div>
                </div>
            </div>
           
        </div>












       

      
       

      
       


     

       

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
