@model IEnumerable<VicGenesis.Victoria>

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/modernizr")


    <title></title>
    <meta charset="utf-8" />
    <script nonce="rAnd0m123" src="~/Scripts/jquery-3.3.1.js"></script>
    <script nonce="rAnd0m123" src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css" />

    <script nonce="rAnd0m123" type="text/javascript" src="~/Scripts/DataTables/datatables.min.js"></script>

    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
        }


        .bg {
            display: table;
            width: 100%;
            height: 100%;
            padding: 100px 0;
            text-align: center;
            color: #fff;
            background: url(http://www.xiandanke.cn/Image/intro-bg.jpg) no-repeat bottom center;
            background-color: #000;
            background-size: cover;
        }

        .my-navbar {
            padding: 20px 0;
            transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        }

            .my-navbar a {
                background: transparent !important;
                color: #fff !important
            }

                .my-navbar a:hover {
                    color: #45bcf9 !important;
                    background: transparent;
                    outline: 0
                }

            .my-navbar a {
                transition: color 0.5s ease-in-out;
            }


        .top-nav {
            padding: 0;
            background: #000;
        }


        .button {
            background-color: #1c87c9;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }

    </style>

</head>
<body>

    <div>
        <img src="~/assets/images/explore/3333.png" height="600" width="1600" />
    </div>

    <script>$(window).scroll(function () { if ($(".navbar").offset().top > 50) { $(".navbar-fixed-top").addClass("top-nav"); } else { $(".navbar-fixed-top").removeClass("top-nav"); } })</script>

    <div align="center">
        <h2>All the regional areas are shown below</h2>
        <div align="left">
            <a href="https://vicgenesis.me/">

                <button type="button" class="btn btn-warning"> Back to Homepage</button>


            </a>
        </div>

        <div style="overflow:scroll; max-height:500px;">
            <table id="vicTable" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Community Name</th>
                        <th>Local Government Area</th>
                        <th>Location</th>
                        <th>Area (km sq)</th>
                        <th>Population Density</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Community_Type == "Town")
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Community_Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Local_Government_Area)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Area_km_sq)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Population_density)
                                </td>

                                <td>
                                    @Html.ActionLink("Show More", "Details", new { id = item.COMM_CODE })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Produced by SuperColliders</p>
        </footer>
    </div>

    <script nonce="rAnd0m123">
        $(document).ready(function () {
            $('#vicTable').DataTable({
                "sDom": '<"nav"lf>t<"nav"i>',
                "language": {
                    "search": "Search (using any keyword) :"
                }
            });
        });
    </script>
</body>
</html>