@model VicGenesis.Victoria


@{
    /**/

    ViewBag.Title = "SelectGroup";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-culture-dropdown').select2({
                theme: "classic"
            });
        });
    </script>

    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
        }


        .bg {
            display: table;
            width: 100%;
            height: 100%;
            padding: 100px 0;
            text-align: center;
            color: #fff;
            background: url(http://www.xiandanke.cn/Image/intro-bg.jpg) no-repeat bottom center;
            background-color: #000;
            background-size: cover;
        }

        .my-navbar {
            padding: 20px 0;
            transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        }

            .my-navbar a {
                background: transparent !important;
                color: #fff !important
            }

                .my-navbar a:hover {
                    color: #45bcf9 !important;
                    background: transparent;
                    outline: 0
                }

            .my-navbar a {
                transition: color 0.5s ease-in-out;
            }


        .top-nav {
            padding: 0;
            background: #000;
        }

        button.navbar-toggle {
            background-color: #00FFFF;
        }


            button.navbar-toggle > span.icon-bar {
                background-color: #00FFFF
            }
    </style>

</head>
<body>

    <div>
        <img src="~/assets/images/explore/water-4081289_1920_meitu_3.jpg" height="500" width="1600" />
    </div>

    <nav class="navbar navbar-fixed-top my-navbar" role="navigation" style="font-size:24px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Go back to homepage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

        </div>

    </nav>
    <script>$(window).scroll(function () { if ($(".navbar").offset().top > 50) { $(".navbar-fixed-top").addClass("top-nav"); } else { $(".navbar-fixed-top").removeClass("top-nav"); } })</script>



    <h2>SelectGroup</h2>

    @using (Html.BeginForm())
    {
    <div class="form-horizontal">
        <h4>Search the areas with the culture group you want!</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h4>     &nbsp; &nbsp;&nbsp;Input the culture group below</h4>
            <h6> &nbsp;    &nbsp; &nbsp;&nbsp;For instance:GREEK, ITALIAN......</h6>
        </div>

        <select class="js-culture-dropdown" name="culture">
            <option value="AFRO-ARABIC MUSLIM">Afro-Arabic Muslim</option>
            <option value="ANGLO SAXON AND CELTIC">Anglo Saxon and Celtic</option>
            <option value="BALKAN">Balkan</option>
            <option value="CENTRAL EUROPEAN">Central European</option>
            <option value="DUTCH">Dutch</option>
            <option value="EAST ASIAN">East Asian</option>
            <option value="FRANCO-BELGIAN">Franco-Belgian</option>
            <option value="GERMAN">German</option>
            <option value="GREEK">Greek</option>
        </select>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
    }


    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Produced by SuperColliders</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>