@model IEnumerable<VicGenesis.Victoria>

@{
    ViewBag.Title = "ShowGroup";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
        }


        .bg {
            display: table;
            width: 100%;
            height: 100%;
            padding: 100px 0;
            text-align: center;
            color: #fff;
            background: url(http://www.xiandanke.cn/Image/intro-bg.jpg) no-repeat bottom center;
            background-color: #000;
            background-size: cover;
        }

        .my-navbar {
            padding: 20px 0;
            transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        }

            .my-navbar a {
                background: transparent !important;
                color: #fff !important
            }

                .my-navbar a:hover {
                    color: #45bcf9 !important;
                    background: transparent;
                    outline: 0
                }

            .my-navbar a {
                transition: color 0.5s ease-in-out;
            }


        .top-nav {
            padding: 0;
            background: #000;
        }

        button.navbar-toggle {
            background-color: #00FFFF;
        }


            button.navbar-toggle > span.icon-bar {
                background-color: #00FFFF
            }
    </style>

</head>
<body>

    <div>
        <img src="~/assets/images/explore/architecture-4080736_1920_meitu_2.jpg" height="500" width="1600" />
    </div>

    <nav class="navbar navbar-fixed-top my-navbar" role="navigation" style="font-size:24px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Go back to homepage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

        </div>

    </nav>
    <script>$(window).scroll(function () { if ($(".navbar").offset().top > 50) { $(".navbar-fixed-top").addClass("top-nav"); } else { $(".navbar-fixed-top").removeClass("top-nav"); } })</script>


    <h2>Here are the areas with @ViewBag.style as it's culture group</h2>

    <div style="overflow:scroll; max-height:500px">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.COMM_CODE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Community_Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DHS_Region)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Main_cultural_group_2_Name.Equals(ViewBag.style))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.COMM_CODE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Community_Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DHS_Region)
                        </td>


                        <td>
                            @Html.ActionLink("Show More", "Details", new { id = item.COMM_CODE })
                        </td>
                    </tr>
                }
            }

        </table>
    </div>


    <button type="button" class="btn btn-default  btn-sm">

        @Html.ActionLink("Back to Homepage", "Index", "Home")
    </button>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Produced by SuperColliders</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>